.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0;
  padding: 20px 0;
}

.header {
  width: 100%;
  text-align: center;
  height: 6dvh;
  background-color: #007bff;
  color: white;
  margin-bottom: 1dvh;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.rbc-calendar {
  height: 85dvh;
  width: 65dvw;
}

.airport-selection {
  margin: 20px 0;
}

.airport-selection label {
  margin-right: 20px;
}

.footer {
  text-align: center;
  margin-top: 20px;
}

.github-link {
  color: #0366d6;
  text-decoration: none;
}

.github-link:hover {
  text-decoration: underline;
}
